.jumbotron {
  background-color: #fcfdaf;
  color: #dba159;
  text-align: center;
}

.fat-arrow-fathers img{
  max-width: 80%;
  margin: auto;
}

.btn {
  background-color: #dba159;
  border: #dba159;
  color: white;
}

.btn:hover {
  background-color: #fca159;
  color: #fcfdaf;
}

body {
  background-color: #f7ffdd;
}

select {
  max-width: 200px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.expensive {
  color:  #ffe066;
}

.strong-beer {
  font-style: italic;
}

.selected {
  color: #fca159;
}

keg-display li {
  display: inline-block;
}

#key {
  background-color: #fca159;
  border-radius: 10px;
  font-size: 20px;
  max-width: 200px;
  margin-bottom: 10px;
  padding: 5px;
}
