h1 {
  color: blue;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.expensive {
  color:  #ffe066;
}

.strong-beer {
  font-style: italic;
}

.selected {
  color: #22bdf0;
}


edit-keg-details h3 {
  display: inline;
}

.keg-form {
  margin: 8px 0 0 8px;
}
